<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <title>宿舍查询</title>
    <link rel="import" href="menu.html" id="menu"></link>
    <script src="/webjars/jquery/2.0.3/jquery.min.js"></script>
    <link href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.css" rel="stylesheet"></link>
    <script src="/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.min.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <style type="text/css">
        table td{word-break: keep-all;white-space:nowrap;}
        table th{word-break: keep-all;white-space:nowrap;}
    </style>
    <script type="text/javascript">
        $(function(){
            //绑定宿舍号
            $.post('/dormitory/getDormitory',{},function(data){
                var sss = JSON.stringify(data[0]);
                alert(sss);
                var optionstring='';
                $.each(data,function(i,n){
                    optionstring += "<option value=\"" + n.dormitory_number + "\" >" + n.dormitory_number + "</option>";
                });
                $("#dormitory").html("<option value='0'>-请选择-</option> "+optionstring);
            });
            //绑定房间号
            $("#dormitory").change(function(){
                var value = $("#dormitory").val();
                getallRoom(value);
            });
            //查询
            $("#btnSearchRoom").click(function(){
                var strDormitorynumber = $("#dormitory").val();
                var strRoomnumber = $("#roomNumber").val();
                //var currentPage = 1;
                if(strDormitorynumber == 0){
                    alert('请选择信息');
                    $("#tabletest").bootstrapTable('destroy');
                    return false;
                }
                $("#tabletest").bootstrapTable('destroy');
                $('#tabletest').bootstrapTable({
                    columns: [{
                        field: 'username',
                        title: '用户名',
                    }, {
                        field: 'name',
                        title: '姓名',
                    }, {
                        field: 'phone',
                        title: '联系方式',
                    },{
                        field: 'email',
                        title: '邮件',
                    },{
                        field: 'dept.dept',
                        title: '部门',
                    },{
                        field: 'dormitory.dormitory_number',
                        title: '宿舍楼',
                    },{
                        field: 'dormitory.room_number',
                        title: '房间号',
                    },{
                        field: 'dormitory.tnumber',
                        title: '总数',
                    },{
                        field: 'dormitory.left_number',
                        title: '剩余数量',
                    }
                    ],
                    showToggle:true,
                    showColumns: true,
                    showRefresh: true,
                    locale:'zh-CN',//中文支持
                    //页面需要展示的列，后端交互对象的属性
                    pagination: true,  //开启分页
                    sidePagination: 'server',
                    pageNumber: 1,//默认加载页
                    pageSize: 10,//每页数据
                    pageList: [5,10,15,20],//可选的每页数据
                    queryParamsType:'',//queryParamsType的默认值为 'limit' ,在默认情况下 传给服务端的参数为：offset,limit,sort
                    //设置为 ''  在这种情况下传给服务器的参数为：pageSize,pageNumber */
                    queryParams: function (params) {
                        return {
                            strDormitorynumber: strDormitorynumber,
                            strRoomnumber:strRoomnumber,
                            currentPage:params.pageNumber,
                            pageSize:params.pageSize
                        }
                    },//请求服务器数据时的参数
                    url: '/dormitory/getDormitoryliveinfo', //服务器数据的加载地址
                    responseHandler:function(res){
                        //在ajax获取到数据，渲染表格之前，修改数据源
                        var nres = [];
                        nres.push({total:res.total,rows:res.list});
                        var sss = JSON.stringify(nres[0]);
                        alert(sss);
                        return nres[0];
                    }
                });
            });
        })
        function getallRoom(strDormitory){
            if(strDormitory == 0){
                return false;
            }
            $.post('/dormitory/getAllRoom',{strDormitory:strDormitory},function(data){
                var roomoption='';
                $.each(data,function(i,n){
                    roomoption += "<option value=\"" + n.room_number + "\" >" + n.room_number + "</option>";
                });
                $("#roomNumber").html(roomoption);
            });
        }
    </script>
</head>
<body>
<div style="background-color: #dcdcdc; height: 81%">
    <div class="container">
        <div class="panel panel-primary panel-custom">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">宿舍查询</h3>
            </div>
            <div class="panel-body">
                <form action="#" role="form" id="infos">
                    <div class="row">
                        <div class="col-sm-2">
                            <font color="red">*</font>宿舍楼:
                        </div>
                        <div class="col-sm-4">
                            <select id="dormitory"></select>
                        </div>
                        <div class="col-sm-1">
                            <font color="red">*</font>房间号:
                        </div>
                        <div class="col-sm-4">
                            <select id="roomNumber"></select>
                        </div>
                        <div class="col-sm-1">
                            <input type="button" id="btnSearchRoom" class="btn btn-default" value="查询">
                        </div>
                    </div>
                </form>

                <table id="dormitoryInfo" class="table table-striped table-condensed"></table>
                <div class="row">
                    <div class="col-xs-12">
                        <table id="tabletest" class="table table-striped table-condensed table-bordered table-hover"></table>
                    </div>
                </div>
                <!--<div style="text-align:center"><ul class="pagination" id="pageinfo"></ul></div>-->
            </div>
        </div>
    </div>
</div>
</body>

</html>